.idea
.venv
*.aux
*.acn
*.acn2
*.acr
*.acr2
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.nlo
*.nls
*.out
*.csv
*.pdfsync
*.ps
*.run.xml
*.synctex
*.synctex(busy)
*.synctex.gz
*.thm
*.toc
*.xdv
*.xdy
*.pdf
__pycache__
out
tmp
